<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{order}+#{title.detail}+' | '+ #{shop.title}">| シェアードショップ</title>
	<meta charset="UTF-8" />
</head>>

<body class="user">
	
		<article class="main">
			
	<h2 class="title">お届け先入力</h2>
	<p class="input_message">お届け先情報を入力してください。 </p>
	<div class="user_info_form_area">
		<form th:action="@{/client/order/payment/input}" method="post">
			

			<ul class="input_list">
				<li>
					<label><span class="input_title">郵便番号</span></label>
					<input type="text" id="postalCode" name="postalCode">
				</li>
				<li>
					<label><span class="input_title">住所</span></label>
					<textarea rows="6" id="address" name="address"></textarea>
				</li>
				<li>
					<label><span class="input_title">氏名</span></label>
					<input type="text" id="name" name="name">
				</li>
				<li>
					<label><span class="input_title">電話番号</span></label>
					<input type="text" id="phoneNumber" name="phoneNumber">
				</li>
			</ul>
			<input type="hidden" id="id" name="id" value="3">
			<input type="hidden" id="payMethod" name="payMethod" value="1">
			<input type="submit" value="次へ" class="send_button">
		</form>
		<form th:action="@{/client/basket/list}" method="post">
			<input type="submit" value="戻る" class="back_button">
		</form>
	</div>

		</article>

</body>
</html>