<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{order}+#{title.input}+' | '+ #{shop.title}">| シェアードショップ</title>
	<meta charset="UTF-8" />
</head>

<body class="user">
	
		<article class="main">
			
	<h2 class="title">お届け先入力</h2>
	<p class="input_message">お届け先情報を入力してください。 </p>
	<div class="user_info_form_area">
		<form th:action="@{/client/order/payment/input}" method="post"th:object="${orderForm}">
		<th:block th:if="${#fields.hasErrors()}">
				<ul class="error_list">
					<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
				</ul>
				<br />
			</th:block>
			<ul class="input_list" th:object="${orderForm}">
				<li>
					<label><span class="input_title">[[#{orderForm.postalCode}]]</span></label>
					<input type="text" id="postalCode" th:field="*{postalCode}">
				</li>
				<li>
					<label><span class="input_title">[[#{orderForm.address}]]</span></label>
					<textarea rows="6" id="address" th:field="*{address}"></textarea>
				</li>
				<li>
					<label><span class="input_title">[[#{orderForm.name}]]</span></label>
					<input type="text" id="name" th:field="*{name}">
				</li>
				<li>
					<label><span class="input_title">[[#{orderForm.phoneNumber}]]</span></label>
					<input type="text" id="phoneNumber" th:field="*{phoneNumber}">
				</li>
			</ul>
			<input type="hidden" id="id" name="id" value="3">
			<input type="hidden" id="payMethod" name="payMethod" value="1">
			<input type="submit" value="次へ" class="send_button">
		</form>
		<form th:action="@{/client/basket/list}" method="post">
			<input type="submit" value="戻る" class="back_button">
		</form>
	</div>

		</article>

</body>
</html>