<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{order}+#{title.detail}+' | '+ #{shop.title}">| シェアードショップ</title>
	<meta charset="UTF-8" />
</head>

<body class="user">
	
		<article class="main">
			
	<h2 class="title">注文内容確認</h2>
	
	<p class="check_error_message">ご注文を、中止いたします。 </p>

	<!-- 在庫不足のメッセージ -->
	
	<div>
		<br>
		
		<ul class="error_list_no_mark">
			<li>※辞書は、在庫切れのため注文できません。 </li>
		</ul>
		<br>
	</div>
	

	<!-- 注文情報 -->
	
	
	<!-- 注文情報がない場合、トップへ戻る -->
	
	<p class="complete_link"><a th:href="@{/}">トップへ戻る </a></p>	
	

		</article>
		
</body>
</html>