<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{order}+#{title.detail}+' | '+ #{shop.title}">| シェアードショップ</title>
	<meta charset="UTF-8" />
</head>

<body class="user">

	<article class="main">

		<h2 class="title" th:text="#{title.order.payment.input}"></h2>
		<p class="input_message" th:text="#{msg.order.payment.input}"></p>

		<div class="user_info_form_area">
			<ul class="payment_method_select">
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="1" checked="checked"
							onclick=" payChange();" th:text="#{paymethod.credit.str}"></label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="2" th:text="#{paymethod.bank.str}"></label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="3" th:text="#{paymethod.onarrival.str}"></label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="4" th:text="#{paymethod.emoney.str}"></label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="5" th:text="#{paymethod.convenience.str}"></label>
				</li>
			</ul>
			<form th:action="@{/client/order/check}" method="post">
				<input type="submit" class="send_button" value="次へ">

			</form>
			<form th:action="@{/client/order/address/input}" method="post" class="update">
				<input type="submit" class="back_button" value="戻る">
			</form>
		</div>

	</article>

</body>

</html>