<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{item}+#{title.detail}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="client item_detail_client">
	<h2 th:class="title" th:text="#{item}+#{title.detail}"></h2>

	<div class="info_form_area" th:object="${item}">
		<div class="item_detail_area">
			<div class="item_image_area">
				<span th:if="*{image != null}">
					<img th:src="@{/images/{image}(image=*{image})}"></img>
				</span>
				<span th:if="*{image == null}">
					<img th:src="@{/images/common/no_image.jpg}"></img>
				</span>
			</div>
			<dl class="item_detail_list">
				<dt>[[#{itemForm.name}]]</dt>
				<dd th:text="*{name}"></dd>
				<dt>[[#{itemForm.price}]]</dt>
				<dd th:text="*{price}"></dd>
				<dt>[[#{itemForm.stock}]]</dt>
				<dd th:if="${item.stock} ge 6">在庫あり</dd>
				<dd th:if="${item.stock} == 0">在庫なし</dd>
				<dd th:if="${item.stock ge 1 && item.stock le 5}" th:text="*{stock}"></dd>
				<dt>[[#{data.category}]]</dt>
				<dd th:text="*{categoryName}"></dd>
				<dt>[[#{itemForm.description}]]</dt>
				<dd th:text="*{description}"></dd>
			</dl>
		</div>

		<div class="detail_button_area">
			<form th:if="${item.stock} ge 1" th:action="@{/client/basket/add}" method="post">
				<input type="submit" value="買い物かごに入れる" class="intobasket_button" />
				<input type="hidden" name="id" th:value="${item.id}" />
			</form>

			<form th:action="@{/client/item/list/1}" method="post">
				<input type="submit" value="戻る" class="back_button" />
			</form>
		</div>
	</div>
	<!--/* レビュー欄 */-->
	<div class="info_form_area item_detail_review_area">

		<div class="item_detail_review_form_alia">
			<!--/* 入力フォーム */-->
			<form th:action="@{/client/review/{save}/{id}(save=${save},id=${item.id})}" method="post"
				th:object="${reviewForm}">
				<ul class="input_list">
					<li>
						<span class="input_title">投稿者名</span><input type="text" th:field="*{name}" />
					</li>
					<li><span class="input_title">評価</span>
						<select name=evaluation>
							<option value="1" th:if="${test} != 1">★</option>
							<option value="1" th:if="${test} == 1" selected>★</option>
							<option value="2" th:if="${test} != 2">★★</option>
							<option value="2" th:if="${test} == 2" selected>★★</option>
							<option value="3" th:if="${test} != 3">★★★</option>
							<option value="3" th:if="${test} == 3" selected>★★★</option>
							<option value="4" th:if="${test} != 4">★★★★</option>
							<option value="4" th:if="${test} == 4" selected>★★★★</option>
							<option value="5" th:if="${test} != 5">★★★★★</option>
							<option value="5" th:if="${test} == 5" selected>★★★★★</option>
						</select>
					</li>
					<li>
						<p class="input_title">コメント</p><textarea th:field="*{commentReview}"></textarea>
					</li>
					<li th:if="${buyFlg}">
						<input th:if="${save}==add" type="submit" value="投稿" />
						<input th:if="${save}==update" type="submit" value="更新" />
					</li>
					<li th:if="!${buyFlg}">レビューを投稿するには商品を購入している必要があります。</li>
				</ul>
				
				<th:block th:if="${#fields.hasErrors()}">
					<ul class="error_list">
						<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
					</ul>
					<br />
				</th:block>

			</form>

			<!--			<form th:action="@{/client/review/add/{id}(id=item.id)}" method="post">-->
			<!--				<ul class="input_list">-->
			<!--					<li><span class="input_title">投稿者名</span><input type="text" name="name" /></li>-->
			<!--					<li><span class="input_title">評価</span>-->
			<!--						<select name="evaluation">-->
			<!--							<option value="1">★</option>-->
			<!--							<option value="1" th:if="${test} == " selected></option>-->
			<!--							<option value="2">★★</option>-->
			<!--							<option value="3">★★★</option>-->
			<!--							<option value="4">★★★★</option>-->
			<!--							<option value="5">★★★★★</option>-->
			<!--						</select>-->
			<!--					</li>-->
			<!--					<li>-->
			<!--						<p class="input_title">コメント</p><textarea name="commentReview"></textarea>-->
			<!--					</li>-->
			<!--					<li><input type="submit" value="投稿" /></li>-->
			<!--				</ul>-->
			<!--			</form>-->
		</div>


		<!--/* 登録なしメッセージ */-->
		<th:block th:if="${#lists.isEmpty(reviews)}">
			<p>レビューが投稿されていません。</p>
		</th:block>

		<!--/* 一覧表示 */-->
		<th:block th:if="!${#lists.isEmpty(reviews)}">
			<div class="item_detail_review_list_alia">
				<ul th:each="review: ${reviews}" class="input_list">
					<li th:text="${review.name}"></li>
					<li class="review_star" th:switch="${review.evaluation}">
						<span th:case="1">★☆☆☆☆</span>
						<span th:case="2">★★☆☆☆</span>
						<span th:case="3">★★★☆☆</span>
						<span th:case="4">★★★★☆</span>
						<span th:case="5">★★★★★</span>
					</li>
					<li th:text="${review.insertDate}"></li>
					<li th:text="${review.commentReview}"></li>
				</ul>
				<a th:href="@{/client/item/review/{id}(id=${item.id})}">レビュー一覧</a>
			</div>
		</th:block>

		<!--		/* 一覧表示 */-->
		<!--		<div class="item_detail_review_list_alia">-->
		<!--			/* 一覧表示 CSS確認用 */-->
		<!--			<ul class="input_list">-->
		<!--				<li>坂上</li>-->
		<!--				<li class="review_star">★☆☆☆☆</li>-->
		<!--				<li>2024/11/14</li>-->
		<!--				<li>おもろい</li>-->
		<!--			</ul>-->
		<!--			<a th:href="@{/client/item/review/{id}(id=${item.id})}">レビュー一覧</a>-->
		<!--		</div>-->

	</div>
</body>

</html>