<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{basket}+' | '+ #{shop.title}">| シェアードショップ</title>
	<meta charset="UTF-8" />
</head>

<body class="user">
		<h2 th:class="title" th:text="#{basket}"></h2>
		<!--買い物かごが空-->
		<div th:if="${#lists.isEmpty(session.basket)}">
			<p th:text="#{msg.basket.list.none}"></p>
		</div>

		<br>

		<!--エラー-->
		<div th:if="!${#lists.isEmpty(stockZeroItems) && #lists.isEmpty(stockLackItems)}">
			<ul class="error_list_no_mark" th:each="stockZeroItem:${stockZeroItems}">
				<li th:text="#{msg.basket.stock.none(${stockZeroItem})}"></li>
			</ul>
			<ul class="error_list_no_mark" th:each="stockLackItem:${stockLackItems}">
				<li th:text="#{msg.basket.stock.short(${stockLackItem})}"></li>
			</ul>
			<br>
		</div>
		<!--買い物かごが存在する場合-->
		<th:block th:if="!${#lists.isEmpty(session.basket)}">
			<table class="list_table basket" th:if="${session.basket} != null">
				<tbody><tr>
					<th th:text="#{data.basket.item.name}"></th>
					<th th:text="#{data.basket.count}"></th>
					<th th:text="#{data.basket.operate}"></td>
					<th th:text="#{data.basket.stock.status}"></td>
				</tr>
				<tr th:each="basketItem:${session.basket}">
					<td><a th:href="@{/client/item/detail/{id}(id=${basketItem.id})}" th:text="${basketItem.name}"></a>
					</td>
					<td th:text="${basketItem.orderNum}"></td>
					<td>
						<form th:action="@{/client/basket/delete/{id}(id=${basketItem.id})}" method="post"><input
								type="submit" value="削除" class="delete">
						</form>
					</td>
					<td>
						<span th:if="${basketItem.stock} < 6" th:text="${basketItem.stock}"></span>
						<span th:if="${basketItem.stock} > 5" th:text="#{data.in.stock}"></span>
					</td>
				<tbody></tr>
			</table>
			<div class="user_info_form_area shopping_button">
				<form th:action="@{/client/order/address/input}" method="post">
					<input type="submit" value="ご注文のお手続き">
				</form>

				<form th:action="@{/basket/deleteAll}" method="post">
					<input type="submit" value="買い物かごを空にする" class="delete">
				</form>
			</div>
		</th:block>
</body>

</html>